// colours used for the navbar.

$wd-colors: #79539a;
$it-colors: #286abd;
$ts-colors: #bc2c28;
$bs-colors: #526781;
$dm-colors: #25a25a;
$cs-colors: #de093f;

// colours used for the blocks.

$wd-block-colors: #926fb1;
$it-block-colors: #4183d7;
$ts-block-colors: #d64541;
$bs-block-colors: #67809f;
$dm-block-colors: #2ecc71;
$cs-block-colors: #f62459;