//Default properties for all buttons
.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
}

//Properties for all the buttons inside the header and navigation bar
.support-btn,
.contact-btn,
.menu-btn,
.cookie-btn {
  vertical-align: center;
  border: 1px solid transparent;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 1.125rem;
  line-height: 46px;
  text-align: center;
  font-family: 'poppins', sans-serif;
  text-transform: uppercase;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

.support-btn,
.contact-btn {
  display: none;
}

.support-btn {
  height: 56px;
  width: 145px;
  background-color: #4183d7;
  border-color: #4183d7;
}
.contact-btn-li a {
  text-decoration: none;
}

.contact-btn {
  height: 56px;
  width: 155px;
  background-color: #999aa2;
  border-color: #999aa2;
  margin-left: 20px;
}

.menu-btn {
  height: 56px;
  width: 63px;
  background-color: #333645;
  border-color: #333645;
  margin-left: 20px;
  font-size: .8rem;
  border: none;

  .burger-box {
    width: 33px;
    height: 19px;
    position: relative;

    .burger {
      position: absolute;
      top: -20px;
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 33px;
      height: 3px;
      content: '';
      background-color: white;
      transition: ease 1s;  
    
    }
    .middle {
      position: absolute;
      top: -10px;
      //margin-top: 5px;
      //margin-bottom: 5px;
      display: block;
      width: 33px;
      height: 3px;
      content: '';
      background-color: white;
    }
    
    .bottom {
      position: absolute;
      top: 0px;
      //margin-top: 5px;
     // margin-bottom: 5px;
      display: block;
      width: 33px;
      height: 3px;
      content: '';
      background-color: white;
    }
   
    .burger-menu {
      position: absolute;
      right: -17px;
      top: -5px;
      height: 0px;
    }
  }
}

.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -14px;
  left: -16px;
}

.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -14px;
  left: -16px;
}
.nav-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
////////////////////////////////////////////////////
//Containers for the Contact page
////////////////////////////////////////////////////

.submit-btn {
  width: 147.547px;
  height: 47px;
  padding: 5px 15px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  line-height: 35px;
  color: #fff;
  background-color: #333645;
  border-color: #333645;
  font-size:17.008px;
  &:hover {
    background-color: #22242e;
    border-color: #191a22;
  }
}