
// * {
//   border: 1px solid red;
// }
body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  letter-spacing: .4px;
  position: relative;
  overflow: hidden;
}
a {
  display: inline-block;
}
ul {
  list-style: none;
  display: flex;
  vertical-align: center;
}
li {
  height: 100%;
  display: flex;
}
#b-container {
  overflow-x:hidden; 
  overflow-y: scroll; 
  height: 100vh; 
  width:100vw;
  position: relative;
}
.banner {
  margin:209px auto 45px;
}
.box-shadow {
  box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
}
///////////////////////////////////////////
//Header base elements
///////////////////////////////////////////
header button {
  text-decoration: none;
  color: white;
}
.heading {
  background-color: white;
  margin-right: 17px;
}
.navbar {
  display: none;
  background-color: #333645;
  height: 99px;
}

////////////////////////////////////////////////////
//The caption overlay for the carousel's base elements
////////////////////////////////////////////////////

figcaption {
  width: 100%;
  text-align: center;
  padding-top: 270px;
  button:hover {
    // background-color: #e80a42;
    // border-color: #d4093c;
    cursor: pointer;
  }
}
.main {
  box-shadow: 0 0.3125rem 2.1875rem -10px rgba(0,0,0,0.1);
}
////////////////////////////////////////////////////
//The second section of content's base elements
////////////////////////////////////////////////////
.second-section {
  background-color: #333645;
  color: white;
  height: auto;
  padding: 50px 15px;
  .ss-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 28px;
    line-height: 1.1;
  }
  p {
    line-height: 1.875rem;
    margin-bottom: 25px;
    
  }
  .p-bold {
    font-weight: 600;
  }
  button {
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    background-color: #fff;
    color: #333645;
    border: 1px solid transparent;
    .fas {
      color: #333645;
    }
  }
}
////////////////////////////////////////////////////
//The client's section base elements
////////////////////////////////////////////////////
.clients {
  display:none;
  height: 145.11px;
}

.client-list {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  padding: 50px 0;
}
.client {
  position: relative;
  padding: 0 20px;
  img {
    max-height: 45.109px;
    vertical-align: middle;
  }
  .colour,
  .description {
    display: none;
  }
}
.client:hover {
  cursor: pointer;
    .black {
      display: none;
    }
    .colour,
    .description {
      display: block;
    }
    .description {
      position: absolute;
      bottom: 100%;
      left: -200px;
      right: -200px;
      text-align: center;
      
    }
    .popout {
      background-color: #333645;
      color: #fff;
      padding: 20px;
      font-size: 0.875rem;
      max-width: 260px;
      margin: 0 auto 50px;
      .arrow-down {
        position: absolute;
        bottom: 15px;
        left: 50%;
        margin-left: -36px;
        width: 0; 
        height: 0; 
        border-left: 36px solid transparent;
        border-right: 36px solid transparent;
        border-top: 35px solid #333645;
      }
      h3 {
        position: relative;
        font-size: 1.125rem;
        color: #fff;
        padding-bottom: 17px;
        margin: 0 0 11px;
        span::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 28px;
          height: 3px;
          display: block;
          background-color: #fff;
        }
      }
      p {
        font-size: 0.8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
      }
    }

}
////////////////////////////////////////////////////
//The partner's section base elements
////////////////////////////////////////////////////
.partners {
  display:none;
  height: 88px;
  padding: 50px 0;
  background-color: white;
}

.partner-list {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  padding-top: 25px;
}
.partner {
  position: relative;
  padding: 0 20px;
  img {
    max-height: 45.109px;
    vertical-align: middle;
  }
  .colour {
    display: none;
  }
}
.partner:hover {
  cursor: pointer;
    .black {
      display: none;
    }
    .colour,
    .description {
      display: block;
    }
  }

////////////////////////////////////////////////////
//The contact page base elements
////////////////////////////////////////////////////
.home {
  li {
    font-size: 13px;
    letter-spacing:0.4px;
    line-height:18.5714px;
  }
  .home-li{
    font-weight: bold;
  }
  .fwd-slash:before {
    color:rgb(51, 54, 69);
    content:"/ ";
    display:inline;
    padding-bottom:0px;
    padding-left:5px;
    padding-right:5px;
    padding-top:0px;
  }
}
.contact-title {
  font-family: 'Poppins', sans-serif;
  font-size:36px;
  font-weight:400;
}
.label {
    font-weight: 600;
    color: #333645;
    line-height: 30px;
    font-size:16px;
}
form .label:after {
  content: "*";
  color: red;
}
.telephone, .email-us {
  color:rgb(146, 111, 177);
  cursor:pointer;
  font-size:32px;
  font-weight:600;
  letter-spacing:0.4px;
  line-height:35.2px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.email-us {
  font-size:26px;
}
.more-info-btn {
  margin-bottom: 10px;
}
.info-label {
  height: 30px;
  padding-bottom: 25px;
}
.more-info {
  margin: 15px 0 15px 10px;
  font-size:16px;
  line-height:30px;
  color:rgb(102, 102, 102);
  .label {
    margin: 30px 0;
  }
}
.checkbox {
  margin-right: 20px;
  .fa-check{
    opacity: 0;
    color: white;
    background-color: #333645;
    width: 100%;
    height: 79%;
    padding-top: 22%;
    text-align: center;
  }
  .checked {
    opacity: 1;
  }
  .check-btn {
    position: relative;
    content: "";
    border-radius: 3px;
    border: 3px solid #333645;
    height: 26px;
    width: 26px;
    .check {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: none;
      border-image-width: 0;
    }
  }
}
.checkbox-info {
  p {
    margin: 0;
    line-height: 32px;
    cursor: pointer;
    font-weight: 600;
    color: #333645;
    font-size:16px
  }
  a {
    color: #333645;
  }
}
.input {
  background-color: #fff;
  background-image: none;
  border-color: #ccc;
  border: 1px solid rgb(204, 204, 204);;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus {
      border-color: #5bc0de;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,192,222,.6);
  }
}
.map {
  height: 300px;
  width: 100%;
  iframe {
    width: 100%;
  }
}
.required {
  border-color: red;
}